#app{
  max-width: 960px;
  padding: 2rem;
}
.wordarea-list{
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.word-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  grid-auto-rows: 4em;
  text-align: left;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border-bottom: 0.15em dashed #95000050;
}
.wordarea-card{
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
}
.word-card{
  margin: 0.2em;
  padding: 0.2em;
  border: 0.2em solid #E0E0E0;
  border-radius: 0.5em;
}
.intro{
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro h2{
  margin-right: 5.5em;
}
.intro img{
  padding-right: 2em;
}

/* 
Responsive styles modified from GPT-Assisted code
*/
@media screen and (max-width: 768px) {
  .wordarea-list{
    border-top: 0.15em dashed #950000;;
  }
  .word-list {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
      grid-auto-rows: 3em;
      border-bottom: 0.15em dashed #950000;
      margin: 30px 0 30px 0;
  }
  .intro {
      flex-direction: column;
      text-align: center;
  }
  .intro h2 {
      margin-right: 0;
  }
  .intro-text{
    text-align: left;
  }
  .word-card {
      margin: 0.5em auto;
  }
  .word-list{
    font-size: 20px;
  }
}

@media (prefers-color-scheme: light) {
  .word-card{
    border: 0.2em solid #333333;
  }
}