.flashcard-intro{
    padding-top: 2em;
}
.flashcard-meanings{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding-top: 1em;
}
.flashcard-response{
    width: 100%;
    padding: 2em 4em 2em 4em;
    box-sizing: border-box;
}
.flashcard-correct{
    background-color: #72E9E5;
}
.flashcard-incorrect{
    background-color: rgb(238, 82, 82);
    pointer-events: none;
}
.flashcard-unclickable{
    pointer-events: none;
}
@media screen and (max-width: 768px) {
    .flashcard-response {
        padding: 40px 10px 40px 10px;
        max-width: 800px;
        margin: 0 auto;
    }
}
@media (prefers-color-scheme: dark) {
    .flashcard-correct{
        color: #1D3040;
    }
}