.flashcard-intro{
    padding-top: 2em;
}
.flashcard-response{
    margin: 0 2em;
}
.flashcard-correct{
    background-color: rgb(33, 65, 40);
}
.flashcard-incorrect{
    background-color: rgb(238, 82, 82);
    pointer-events: none;
}