.flashcard-intro{
    padding-top: 2em;
}
.flashcard-meanings{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding-top: 1em;
}
.flashcard-response{
    padding: 2em;
}
.flashcard-correct{
    background-color: #72E9E5;
}
.flashcard-incorrect{
    background-color: rgb(238, 82, 82);
    pointer-events: none;
}
.flashcard-unclickable{
    pointer-events: none;
}

@media (prefers-color-scheme: dark) {
    .flashcard-correct{
        color: #1D3040;
    }
}