#root {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.wordarea-list{
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.word-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  grid-auto-rows: 4em;
  text-align: left;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border-bottom: 0.15em dashed #95000050;
}
.intro{
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro h2{
  margin-right: 5.5em;
}
.intro img{
  padding-right: 2em;
}
