header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #950000; 
}
header nav{
  display: flex;
  justify-content: space-between;
}
header nav h1{
  font-size: 1.5em;
  text-align: left;
  margin-left: 1em;
}
header nav img{
  margin-left: 0.5em;
  margin-top: 0.5em;
  width: 50px;
  height: 50px;
}
ul{
  display: flex;
  padding: 0 0 0 1em;
  align-items: center;
  margin-right: 2em;
}
li{
  margin: 0 0 0 1em;
  list-style-type: none;
}
li a{
  padding: 0.5em 1em;
  background-color: #333333;
  color: #72E9E5;
  border-radius: 1em;
}
li a:hover{
  color: #72E9E5;
  text-decoration: underline;
  background-color: #4b4b4b;
}
li a.active{
  border: #72E9E5;
  border-width: 0.35em;
  border-style: solid;
}
@media (prefers-color-scheme: light) {
    header{
        color: #e0e0e0;
    }
    li a{
      background-color: white;
      color: #213547;
    }
    li a:hover{
      color: #1D3040;
      background-color: #D1E5FF;
    }
    li a.active{
      border: #1D3040;
      border-width: 0.35em;
      border-style: solid;
    }
}